@page "/"

@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Grids
@using ChartJs.Blazor

@inherits IndexBase
<div class="content">
    <div class="row">
        <div class="col-md-12 main-chart">
            <ChartJs.Blazor.Chart @ref="ChartRef" Config="_config">
            </ChartJs.Blazor.Chart>
        </div>
        <div class="col-md-6">
            <ScrapeRequests></ScrapeRequests>
        </div>

        <div class="col-md-6">
            <ScrapeResponses></ScrapeResponses>
        </div>
    </div>
</div>
@code {

}

<style>
    #linechart, #grid, #chart1, #chart, #range {
        height: 100% !important;
        width: 100% !important;
    }
</style>