@page "/results"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs

<h3>Scrape Results</h3>

<BaseGridView TItem="@ScrapeResult" TKey="int">
    <GridColumns>
        <GridColumn Field=@nameof(ScrapeResult.Id) HeaderText="Id" Type="ColumnType.Number" IsPrimaryKey="true" AllowEditing="false" AllowAdding="false" AutoFit="true" Visible="false"></GridColumn>
        <GridColumn Field=@nameof(ScrapeResult.Title) HeaderText="Title" MaxWidth="120" Type="ColumnType.String" AutoFit="true"></GridColumn>
        <GridColumn Field=@nameof(ScrapeResult.Url) HeaderText="Url" Type="ColumnType.String" AutoFit="true"></GridColumn>
        <GridColumn Field=@nameof(ScrapeResult.Index) HeaderText="Search Index" Type="ColumnType.Number" AutoFit="true"></GridColumn>
        <GridColumn Field=@nameof(ScrapeResult.Created) HeaderText="Created" Type="ColumnType.DateTime" AutoFit="true" AllowAdding="false" AllowEditing="false"></GridColumn>
    </GridColumns>
</BaseGridView>
